@use 'variables' as v;
@use 'mixins' as m;

html {
    // font-size: 62.5%;
    // box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth !important;
}
body {
    font-family: v.$fuente_principal;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}
